<h1> Song List </h1>

<% @messages.each do |message| %>
  <div class="message">
    <h3><a href="/messages/<%= message.id %>"><%= message.title %></a> <small>(by: <%= message.author %>)</small></h3>
    <p>
      <a href="<%= message.url %>"><%= message.url %></a>
    </p>
    <p>
      <small><i> Posted on: <%= message.created_at %> by <%= message.user.email %> </i></small>
    </p>
    <br>

    <form method="post" action="/upvote">
      <input type="hidden" name="_method" value="put">
      <input type="submit" name="message_id" value="<%= message.upvotes.count %> likes">
    </form>
  </div>
<% end %>




<a href="/messages/new">Post another song!</a>
<br>

<form method="post" action="/logout">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Log Out">
</form>
